@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$body-size: 18px;
$message-body-padding: 1em;
$family-sans-serif: 'Lato', sans-serif;
@import "~bulma/bulma";


.entities {
  display: inline;

  .entity-unknown {
    padding: 0.2em;
    background-color: $danger;
    color: $danger-invert;
  }
}


.entities {
  .roll {
    margin: 0 0.25em;
  }
  .coc-roll {
    font-family: $family-sans-serif;
    display: inline;
  }

  .coc-modifier {
    position: relative;
    font-family: $family-sans-serif;
  }
}

.character {
  font-weight: bold;
  font-size: 115%;
}

.Log {
  .tag {
    margin-right: 0.25em;
  }
  .log-image {
    max-width: 50%;
    display: block;
  }
}


.tags {
  .tag {
    margin: 0 0.1em;
  }
}

